body {
    margin: 0;
    background-color: 0C4A6E;
}

.container {
    display: flex;
    justify-content: space-around;
    
}
#br1, #br2{
    background-color: black;
    color: red;
    height: 120px;
    width: 120px;
    position: relative;
    padding-top: 20px;
    padding-left: 80px;

    
}
h1{
    font-size: 80px;
    
}

h3{
    color: white;
    
}

button{

}